
body
{
    margin: 0px;
    padding: 0px;
    background: url('Training.jpg');
    background-repeat: no-repeat;
    background-size:1700px;

}
.left
{
    display:inline-block;
    
    position: absolute; 
    color: white;
    left: 34px;
    top:20px;
    
}
.left img
{
    width: 150px;
    cursor: pointer;
}
.mid
{
    display: block;
    width:70%;
    padding-top: 40px;
    margin: auto;
    font-family:'Concert One';



}

.right
{ 
    position: absolute; 
    color: white;
    right: 34px;
    top:0px;
    top:20px;
}
.navbar
{
    display: inline-block;
    margin-top: 20px;
}
.navbar li
{

    display: inline-block;

    
}
.navbar li a
{
    color:white;
    font-size:35px;
    text-decoration: none;
    padding: 10px 10px;
    font-weight: bolder;
    border-radius: 10px;
    margin-right:15px;

    
}

.navbar li a:hover, .navbar li a.active
{
    text-decoration: underline;
     color: rgb(11, 7, 7);
}

.btn
{
    margin:40px 10px;
    background-color:rgb(3, 106, 157);
    color:white;
    margin-right: 15px;
    padding: 10px 10px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Zen Dots';
}
.btn:hover
{
    background-color: rgb(58, 57, 57);
}
.container
{
    
    margin: 120px 40px;
    padding: 75px;
    width: 33%;
    display: block;
    border-radius: 28px;
    text-align: center;

}
.container h1
{
  background-color:rgb(100, 2, 100);
  border-radius: 25px;
   color:white;
   font-size: 30px;
   font-weight:bolder;
   font-family: 'Zen Dots';  
}
.container h1:hover
{
    background-color: rgb(44, 4, 81);
}
.form-group input
{
    text-align: center;
    display: block;
    width: 74%;
    padding: 6px;
    border: 2px solid black;
    margin: 12px auto;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Zen Dots';

}
.btn1
{
    background-color: black;
    color: white;
    font-family:'Zen Dots';
    cursor: pointer;
    font-size: 17px;
    display: block;
    margin:20px auto;
    border-radius: 25px;
    width:74%;
    padding:10px;

}
.btn1:hover
{
    background-color: brown;
}
